<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand active" href="{{url_for('doctor')}}">HOME</a>
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('consultationRequestList')}}">Consultation Requests </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('consultationReplyList')}}">Consulted Patients</a>
            </li>
          </ul>
        </div>
        <a class="nav-link" href="{{url_for('doctorLogout')}}" style="float: left;">LOGOUT</a>
      </nav>
    {% block content %}

    {% endblock %}
</body>
</html>