{% extends "doctorBase.html" %}
{% block title %}{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ReportID</th>
            <th scope="col">Symptoms</th>
            <th scope="col">Disease</th>
            <th scope="col">Prescription</th>
            <th scope="col">ConsultationDate</th>
            <th scope="col">ConsultedDate</th>
        </tr>
        </thead>
        <tbody>
        {% for eachRow in query %}
        <tr>
            <td>{{eachRow.hid}}</td>
            <td>{{eachRow.symptoms}}</td>
            <td>{{eachRow.diseases}}</td>
            <td>{{eachRow.prescription}}</td>
            <td>{{eachRow.consultationdate}}</td>
            <td>{{eachRow.consultateddate}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}