{% extends "base.html" %}

{% block title %}{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ReportID</th>
            <th scope="col">DoctorID</th>
            <th scope="col">Symptoms</th>
            <th scope="col">Disease</th>
            <th scope="col">Applied on</th>
            <th scope="col">Replied on</th>
            <th scope="col">Prescription</th>
            <th scope="col">Consultation Status</th>
        </tr>
        </thead>
        <tbody>
        {% for eachRow in query %}
        <tr>
            <td>{{eachRow.hid}}</td>
            <td>{{eachRow.did}}</td>
            <td>{{eachRow.symptoms}}</td>
            <td>{{eachRow.diseases}}</td>
            <td>{{eachRow.consultationdate}}</td>
            <td>{{eachRow.consultateddate}}</td>
            <td>{{eachRow.prescription}}</td>
            <td>{{eachRow.consultationstatus}}</td>
            <td><a href="#">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}